[
      {
        "text": "<%= strip_ticks(@quote.quote) %><br><span class='q_info' style='text-align:left;font-size:<%=@font_size%>'><% if @quote.author && @quote.author.size > 2%>  <%=strip_ticks(@quote.author)%>,<%end%> <%= strip_ticks(@quote.book) %> <%= strip_ticks(@quote.citation) %> <%= strip_ticks(@quote.translation) %></span>",
        "favorite": "<%= @quote.favorite ? @quote.favorite : 'n' %>",
        "id": "<%= @quote.id %>",
		"topic": "<%=@topic_name.titleize if @topic_name%>",
		"image_url": "<%=@image_url%>"
      }<%if @quotes && @quotes.size > 0 %>,<%end%>
        
      <% @quotes.each do |quote| %>        
         { "text": "<%= strip_ticks(quote.quote) %><br><span class='q_info' style='text-align:left;font-size:<%=@font_size%>'><% if quote.author && quote.author.size > 2%> <%=strip_ticks(quote.author)%>,<%end%> <%= strip_ticks(quote.book) %> <%= strip_ticks(quote.citation) %> <%= strip_ticks(quote.translation) %></span>",
        "favorite": "<%= quote.favorite ? quote.favorite : 'n' %>",
         "id": "<%= quote.id %>"
      }<% unless @quotes.last == quote %>,<% end %>
        <% end %>
]