<!-- Copyright (c) 2012 The First Church of Christ, Scientist.

   GNUv2.0:

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License along
   with this program; if not, write to the Free Software Foundation, Inc.,
   51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

   Further inquiries can be directed towards app@goverse.org

   MIT:

   Permission is hereby granted, free of charge, to any person obtaining a
   copy of this software and associated documentation files (the "Software"),
   to deal in the Software without restriction, including without limitation
   the rights to use, copy, modify, merge, publish, distribute, sublicense,
   and/or sell copies of the Software, and to permit persons to whom the
   Software is furnished to do so, subject to the following conditions:

   The above copyright notice and this permission notice shall be included
   in all copies or substantial portions of the Software.

       THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
       OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
       MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
       IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
       CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
       TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE
       OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. -->


	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

  <script type="text/javascript" async src="http://www.google-analytics.com/ga.js"></script>
  <meta id='viewmeport' name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>

  <title>GoVerse</title>
  <% if System::get_property('platform') == 'APPLE' %>
        <link href="/public/css/iphone.css" type="text/css" rel="stylesheet"/>
    <% elsif System::get_property('platform') == 'ANDROID' %>
        <!-- <link href="/public/css/android.css" type="text/css" rel="stylesheet"/> -->
    <% elsif is_bb6 %>
        <link href="/public/css/android.css" type="text/css" rel="stylesheet"/>
    <% elsif System::get_property('platform') == 'Blackberry' %>
        <link href="/public/css/blackberry.css" type="text/css" rel="stylesheet"/>
    <% elsif System::get_property('platform') == 'WP7' %>
	    <link href="/public/css/windows_mobile.css" type="text/css" rel="stylesheet"/>
		<script src="/public/js/wp7.js" type="text/javascript"></script>
    <% elsif System::get_property('webview_framework') =~ /^WEBKIT/ %>
        <link href="/public/css/android.css" type="text/css" rel="stylesheet"/>
    <% elsif System::get_property('platform') == 'WINDOWS' %>
	    <link href="/public/css/windows_mobile.css" type="text/css" rel="stylesheet"/>
    <% end %>
    
  <link rel="stylesheet" href="/public/jqmobile/jquery.mobile-1.0.1.min.css">
  <link rel="stylesheet" href="/public/css/jqmobile-patch.css">
  <link href="/public/css/swipestyle.css" rel="stylesheet" type="text/css">
  <link href="/public/css/onscreenmenu.css" rel="stylesheet" type="text/css">
  <link href="/public/css/application.css" rel="stylesheet" type="text/css">

  <script src="/public/jquery/jquery-1.6.4.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="/public/js/swipeviewxy.js"></script>
  <script src="/public/js/iscroll-lite.js" type="text/javascript"></script>  
  <script type="text/javascript" src="/public/js/application.js"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32134587-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>

<body>
    <%= @content %>
    <script type="text/javascript">
	var carousel,
	    el,
	    i,
	    page,
	    slides = [
	      {
	        text: "<%= strip_ticks(@quote.quote) %><br><span class='q_info' style='text-align:left;font-size: 9px'><% if @quote.author && @quote.author.size > 2%> <%=strip_ticks(@quote.author)%>,<%end%> <%= strip_ticks(@quote.book) %> <%= strip_ticks(@quote.citation) %> <%= strip_ticks(@quote.translation) %></span>",
	        favorite: '<%= @quote.favorite ? @quote.favorite : "n" %>',
	        id: '<%= @quote.id %>',
	      },  

	      <% @quotes.each do |quote| %>                 
	         { text: "<%= strip_ticks(quote.quote) %><br><span class='q_info' style='text-align:left;font-size: 9px'><%if quote.author && quote.author.size > 2%> <%=strip_ticks(quote.author)%>,<%end%> <%= strip_ticks(quote.book) %> <%= strip_ticks(quote.citation) %> <%= strip_ticks(quote.translation) %></span>",
	        favorite: '<%= quote.favorite ? quote.favorite : "n" %>',
	         id: '<%= quote.id %>'
	      }<% unless @quotes.last == quote %>,<% end %>
	        <% end %>    
	    ],
	  photos = [
	    {
	      img: '<%=Live.image_link(@image)%>',
	      width: $('#wrapper').width(),
	      height: $('#wrapper').height(), 
	      id: '<%= @image %>'   
	    },
	    <% img = 1 %>     
	    <% while img < Live.live.image_count.to_i %>    
	    {
	      img: '<%=Live.image_link(img)%>',
	      width: $('#wrapper').width(),
	      height: $('#wrapper').height(), 
	      id: '<%= img.to_s %>'
	    }
	      <% img += 1 %>
	      <% if img < Live.live.image_count.to_i %>,<% end %>
	    <% end %>

	  ];

	  carousel = new SwipeView('#wrapper', {
	    numberOfPages: slides.length,
	    numberOfPhotos: photos.length,
	    hastyPageFlip: false
	  });

	  // Load initial data
	  for (i=0; i<3; i++) {
	    page = i==0 ? slides.length-1 : i-1;

	    el = document.createElement('span');
	    el.css = "text-align:left;";
	    el.innerHTML = slides[page].text;
	    el.className = slides[page].favorite;
	    el.id = slides[page].id;  
	    carousel.masterPages[i].appendChild(el)

	    page = i==0 ? photos.length-1 : i-1;

	    el = document.createElement('img');      
	    el.className = 'loading';
	    el.src = photos[page].img;
	    el.width = photos[page].width;
	    el.height = photos[page].height;
	    el.id = photos[page].id;
	    el.css = "position: fixed; left: 0px;top:0px;";
	    el.onload = function () { this.className = ''; }
	    carousel.masterPages2[i].appendChild(el); 

	  }
	  setFavText();
	  carousel.onFlip(function () {
	    var el,
	      upcoming,
	      i;

	    for (i=0; i<3; i++) {
	      upcoming = carousel.masterPages[i].dataset.upcomingPageIndex;

	      if (upcoming != carousel.masterPages[i].dataset.pageIndex) {
	        el = carousel.masterPages[i].querySelector('span');
	        el.innerHTML = slides[upcoming].text;
	        el.id = slides[upcoming].id;
	        el.className = slides[upcoming].favorite;
	      }
	    }
	    resetMenu();
	    setFavText();  
      
	    _gaq.push(['_trackPageview', 'swipequote/' + id()]); 
	  });

	  carousel.onFlipY(function () {
		try{
		    var el,
		      upcoming,
		      i;

		    for (i=0; i<3; i++) {
		      upcoming = carousel.masterPages2[i].dataset.upcomingPageIndex;

		      if (upcoming != carousel.masterPages2[i].dataset.pageIndex) { 
		        el = carousel.masterPages2[i].querySelector('img');     
		        el.className = 'loading';
		        el.src = photos[upcoming].img;
		        el.width = $('#wrapper').width();
		        el.height = $('#wrapper').height();
		        el.id = photos[upcoming].id;                     
		      }
		    }     
		    _gaq.push(['_trackPageview', 'swipeimage/' + image()]); 
		}
		catch(err)
		{
		  //Handle errors here
		  //alert(err);
		}
	  });

	  carousel.onMoveOut(function () {
	    carousel.masterPages2[carousel.currentMasterPage2].className = carousel.masterPages2[carousel.currentMasterPage2].className.replace(/(^|\s)swipeview-active(\s|$)/, '');
	  });

	  carousel.onMoveIn(function () {
	    var className = carousel.masterPages2[carousel.currentMasterPage2].className;
	    /(^|\s)swipeview-active(\s|$)/.test(className) || (carousel.masterPages2[carousel.currentMasterPage2].className = !className ? 'swipeview-active' : className + ' swipeview-active');
	  });
	</script>
</body>
</html>
